.header {
  /* background: linear-gradient(-45deg, #000 49.5%, transparent 49.5%, transparent 50.5%, #ffffff),
  url('../public/images/loginBackground.jpeg') center/cover; */
  background-color: #000;
  height: 55vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.block {
  height: 70px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px 30px;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
}

.navbarStart {
  height: 50px;
  width: 50px;
}

.logo {
  position: absolute;
  top: 5px;
  left: 15px;
  width: 50px;
  height: 50px;
}

.logOut {
  color: white;
  background-color: transparent;
  font-size: 1.2em;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.logOut.scrolled {
  color: black;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 60%;
  margin: 0 auto 0 200px
}

.aboutContent {
  max-width: 800px;
  margin: 0 auto;
}

.aboutHeading {
  color: white;
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.aboutText {
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.5;
  color: #cdcdcd;
  text-indent: 30px;
  padding-left: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
  margin-left: auto;
  column-gap: 25px;
}

.card {
  color: white;
  margin-top: 10px;
  transition: color 0.3s ease
}

.card.scrolled {
  color: black;
}

.cardLink {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cardLink .arrow {
  white-space: nowrap;
  transition: transform 0.3s ease;
}

.cardLink:hover .arrow {
  transform: translateX(7px);
}

.arrow {
  font-size: 1.2em;
}

.cardText {
  white-space: nowrap;
}

.reserve {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 60%;
  margin: 0 auto 0 50px;
}

.reserveContent {
  max-width: 800px;
  margin: 0 auto;
  padding: 80px 40px;
}

.reserveContent h1 {
  font-size: 4em;
  margin-bottom: 20px;
}

.reserveLink {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(to right, #fff 50%, #000000 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 0.3s ease, color 0.3s ease;
}

.reserveLink:hover {
  background-position: left;
  color: #000;
}
