.header {
  background-color: #000;
  color: white;
  height: 70vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {

}

.reserveLink {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(to right, #fff 50%, #000000 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 0.3s ease, color 0.3s ease;
}

.reserveLink:hover {
  background-position: left;
  color: #000;
}
